<div class="aligner">
	<div class="content">
		{{#equals state LAUNCH_STATE.PRELAUNCH}}
			<div class="title">
			{{{compile _launch.preLaunchTitle this}}}
			</div>
			<div class="body">
			{{{compile _launch.preLaunchBody this}}}
			</div>
		{{/equals}}
		{{#equals state LAUNCH_STATE.PROGRESS}}
			<div class="title">
			{{{compile _launch.launchTitle this}}}
			</div>
			<div class="body">
			{{{compile _launch.launchBody this}}}
			</div>
		{{/equals}}
		{{#equals state LAUNCH_STATE.CLOSED}}
			<div class="title">
			{{{compile _launch.closedTitle this}}}
			</div>
			<div class="body">
			{{{compile _launch.closedBody this}}}
			</div>
		{{/equals}}
	</div>
</div>