<div class="aligner">
	<div class="content">
		{{#unless _wasClosed}}
			<div class="title">
			{{{compile _launch.launchTitle this}}}
			</div>
			<div class="body">
			{{{compile _launch.launchBody this}}}
			</div>
		{{else}}
			<div class="title">
			{{{compile _launch.closedTitle this}}}
			</div>
			<div class="body">
			{{{compile _launch.closedBody this}}}
			</div>
		{{/unless}}
	</div>
</div>