<div class="aligner">
	<div class="content">
		{{#equals state LAUNCH_STATE.PRELAUNCH}}
			<div class="title">
			{{{compile _launchNewWindow.preLaunchTitle this}}}
			</div>
			<div class="body">
			{{{compile _launchNewWindow.preLaunchBody this}}}
			</div>
		{{/equals}}
		{{#equals state LAUNCH_STATE.PROGRESS}}
			<div class="title">
			{{{compile _launchNewWindow.launchTitle this}}}
			</div>
			<div class="body">
			{{{compile _launchNewWindow.launchBody this}}}
			</div>
		{{/equals}}
		{{#equals state LAUNCH_STATE.CLOSED}}
			<div class="title">
			{{{compile _launchNewWindow.closedTitle this}}}
			</div>
			<div class="body">
			{{{compile _launchNewWindow.closedBody this}}}
			</div>
		{{/equals}}
	</div>
</div>
